<div class="panel panel-default panel-body">
    <div class="row">
        <div class="col-xs-12">
            <h3> Create a Question </h3>
            <hr>
            <div class="row">
                <div class="col-xs-12">
                    <input class="form-control" type="text" placeholder="Title of the Question" ng-model="question.title">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <input class="form-control" type="text" placeholder="Description of the Question" ng-model="question.body">
                </div>
            </div>
        </div>
    </div>
</div>