
<div class="panel panel-default panel-body" style="margin-top: 10px" ng-controller="loginController">
    <div class="row">
        <div class="col-md-12 lead">
            <div class="row">
                <div class="col-md-8">
                    <h1 style="margin-bottom: 25px; text-align: left;"> Stack Over Flow</h1>
                </div>
                <div class="col-md-4">
                    <button ng-click="authenticate()" class="btn btn-default pull-right" style="margin: 10px"> Sign In With Google+ </button>
                </div>
            </div>
            <p>
                Course: Introduction To Databases <br><br>
                Assignment: Project Part 3 <br><br>
                Team Members:
                <ul>
                    <li>Rakesh Yarlagadda (ry2294)</li>
                    <li>Sharan Suryanarayanan (ss4951)</li>
                </ul>
            </p>
        </div>
    </div>
</div>