<div class="panel panel-default panel-body">
    <div class="row">
        <div class="col-md-12 lead">
            <div class="row">
                <div class="col-xs-9">
                    <h2 style="text-align: left;"> {{question.title}}</h2>
                </div>
                <div class="col-xs-3">
                    <button ng-click="back()" type="button" class="btn btn-default pull-right" style="margin-top: 15px">Back</button>
                </div>
            </div>
            <hr>
            <h5>{{question.title}}</h5>
        </div>
    </div>
</div>